* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.form-label {
  font-size: 15px;
}
.card {
  display: flex;
  width: 100%;
}
.espacio {
  width: 100%;
  margin: auto;
  padding: auto;
  padding-bottom: 15px;
}
#back {
  float: right;
}

.estilo {
  font-size: 40px;
  text-align: center;
}
button {
  display: inline-block;
}

.cambio {
  width: 500px;
}

.estilos {
  text-align: center;
}

button {
  margin-left: 10px;
}
